<div class="col-lg-9 ">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <span class="search-center">
    <form method="get" action="<%= root_url %>/search_engine" id="search-form">
      <div class="input-group main-form-inputs search-text">
        <input type="text" name="term" id="term" class="form-control search-text" value="<%= params[:term] %>"
               placeholder="search by name">
        <span class="input-group-btn">
          <button class="btn btn-default search-btn" type="submit">Search</button>
        </span>
      </div>
    </form>
  </span>
</div>