<style>
  body {font-family: Arial;}

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    /*border: 1px solid #ccc;*/
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
</style>

<h1>Personal Information:</h1>

<div class="tab" style="padding-top: 20px;" >
  <button class="tablinks" id="invite_tab" onclick="openAcademic(event, 'invite')"><p style="color: dodgerblue">Invite
    User</p></button>
  <button class="tablinks" id="profile_tab" onclick="openAcademic(event, 'profile')"><p style="color: dodgerblue">Personal
    Profile</p></button>
</div>

<div id="invite" class="tabcontent">
  <%= render(partial: "users/profiles/uni_admin_profile_invite") %>
</div>

<div id="profile" class="tabcontent">
  <%= render(partial: "users/profiles/uni_admin_profile_personal") %>
</div>

<script>
  document.getElementById('uni_first').classList.add("active");

  function openAcademic(evt, academicName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(academicName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  var tabsName = "<%= tabName %>" != null ? "<%= tabName %>" : "profile_tab";
  document.getElementById(tabsName).click();
</script>
</div>
