<div class="col-lg-4">
  <%= label_tag :space, "" %>
</div>

<div class="col-lg-8">
  <%= render(partial: "users/profiles/student_academic_nav", locals: {tabName: params[:type].keys.first+"_tab"}) %>
</div>