<div>
  University name: <%= @uni.name %><br>
  University weblink: <%= @uni.weblink %><br>
  University focal contact: <%= @uni.focal_contact %><br>
  University Remark: <%= @uni.remark %><br>

</div>