<div>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a class="Logo" href="<%= root_url %>">Virtual Education Agent</a>
    <ul>
      <li> <a class = "active" href="<%= root_url %>university/new ">University Registration</a></li>
      <li> <a class = "active" href="<%= root_url %>student/new">Student Registration</a></li>
      <li> <a class = "active" href="<%= root_url %>users/sign_in">Login</a></li>
    </ul>
  </nav>

</div>
