<div class="alignCenter">
  <form method="get" action="search_engine" id="search-form">
    <div class="input-group main-form-inputs search-text">
      <input type="text" name="term" id="term" class="form-control search-text" value="<%= params[:term] %>"
             placeholder="Search your preferred universities/courses">
      <span class="input-group-btn">
        <button class="btn btn-default search-btn" type="submit">Search</button>
      </span>
    </div>
  </form>
</div>
