<span class="col-lg-3">
  <%= label_tag nil %>
</span>

<div class="col-lg-9">
  <div id="messages">
    <%= render @messages, partial: :chat, as: :chat %>
  </div>

  <form>
    <input type="hidden", id="user_id", value= "<%= current_user.id %>">
    <input type="hidden", id="application_id", value= "<%= @application.id %>">
    <textarea data-behavior="chat_speaker" placeholder="Type message and press enter to send" class="chatBox"></textarea>
  </form>
</div>