<div class="col-lg-4">
  <%= render(partial: "home/student_nav") %>
</div>

<div class="col-lg-8">
  <%= render(partial: "users/profiles/student_academic_nav", locals: {tabName: 'qualification_tab', openModal: true}) %>
</div>