//@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


// media queries breakpoints
$screen-ss-min:350px;
$screen-xs-min:468px;
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$screen-xl-min:1600px;
$screen-2xl-min:1920px;
$screen-3xl-min:2520px;
$screen-4k-min:3800px;

// Variables Color
$primary-color:#1f4e79;
$black-color:#000;
$white-color:#fff;
$grey-color:#444;
$light-blue:#286093;
$high-color:#e94646;
$medium-color:#ffc000;
$low-color:#65d050;
$brandBlue: #008CBA;


